@page
@model IndexModel
@{
    ViewData["Title"] = "MOOSEWEB";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about M.O.O.S.E <a href="https://github.com/UrNotAMoose077">By going to UrNotAMoose077's github</a>.</p>
</div>
